// Centralized variables migrated from assets/css/style.scss
// Use this module in other partials: @use "variables" as *;

/* text */

$body-font: "Open Sans Regular", "Verdana", "sans-serif";
$heading-font: "Open Sans Light", "Verdana", "sans-serif", "bold";

/* Colors */

$dark-background: #005442;
$light-text: #deb76a;
$light-link: #f1e2d0;
$light-link-hover: #bae5ce;
$medium-background: #83406f;
$light-background: #f5d877;
$dark-text: #000000;
$code: #000000;
$muted-text: #777777;

/* Image Heights */

$parallax-height: 350px;

/* Viewer proportions */

$viewer-height: 100%;
$max-width: 100%;
