// ###################################################################
//      Side-by-side document layout
// See: _layouts/keywords_sidebyside_item.html
// ###################################################################
:root {
  // Only have one of the debug-borders on at a time
  // --debug-border: 1px solid red; // Debug borders on
  --debug-border: 0; // Debug borders off

  --tabbed-content-height: calc(100vh - 102px);
  --tabbed-metadata-height: calc(var(--tabbed-content-height) - 50px);
}

.item-metadata {
  padding: 0;
  border: var(--debug-border); // Debug border
  
  .tab-content .active {
    height: var(--tabbed-metadata-height);
    overflow-y: auto;
    overflow-x: auto;
    border: 0
  }

  .nav-tabs .nav-link {
    cursor: pointer;
    transition: box-shadow 250ms;

    &.active {
      color: black;
      cursor: default;
    }

    &:hover {
      box-shadow: inset 0px 0px 15px white;
    }
  }
}
.image-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--tabbed-content-height);
  border: var(--debug-border); // Debug border
}