@use "variables" as *;

main {
    a:not(.badge) {
        color: $dark-background;

        &:hover {
            color: $dark-background;
        }
        &:visited {
            color: $dark-background;
        }
    }

    img {
        max-width: 100%;
    }
}

.banner {
    .dropdown-item:hover {
        color: $dark-background;
        background-color: $light-link-hover;
    }
}

.gallery-item-facets {
    .card {
        &:hover {
            box-shadow: 0 0 5px;
        }
    }
}

#side-nav-sm,
.facet-sidebar {
    .list-group-item {
        border-color: $light-text;

        :hover {
            background-color: $light-link-hover;
        }

        &.disabled {
            :hover {
                background-color: initial;
            }
        }
    }
    .list-group-item-dark {
        background-color: $light-link-hover;
    }
}

#people-of-keywords {
    a.list-group-item {
        border-color: $light-text;
        &:hover {
            background-color: $light-link-hover;
        }
    }
}

#team-page {
    .card {
        .team-member-title {
            font-size: 1.15rem;
        }
    }
}

footer {
    height: initial;

    #cc-license-logo img {
        height: 16px !important;
        margin-left: 3px;
        vertical-align: text-bottom;
    }

    #jhu-sheridan-logo {
        height: 124px;
    }
    #nhprc-logo {
        width: 100px;
    }
}

// !importants in order to override Bootstrap classes
.gallery-thumb {
    height: initial;
    // max-height: 250px !important;
    max-width: 250px !important;
}

.item-metadata {
  padding: 0;
  
  .tab-content .active {
    height: calc(100vh - 93px);
    overflow-y: auto;
    overflow-x: hidden;
    border: 0;
  }
}
.image-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 43px);
}
