@use "variables" as *;

main {
    a:not(.badge) {
        color: $dark-background;

        &:hover {
            color: $dark-background;
        }
        &:visited {
            color: $dark-background;
        }
    }

    img {
        max-width: 100%;
    }
}

.banner {
    .dropdown-item:hover {
        color: $dark-background;
        background-color: $light-link-hover;
    }
}

.gallery-item-facets {
    .card {
        &:hover {
            box-shadow: 0 0 5px;
        }
    }
}

#side-nav-sm,
.facet-sidebar {
    .list-group-item {
        border-color: $light-text;

        :hover {
            background-color: $light-link-hover;
        }

        &.disabled {
            :hover {
                background-color: initial;
            }
        }
    }
    .list-group-item-dark {
        background-color: $light-link-hover;
    }
}

#people-of-keywords {
    a.list-group-item {
        border-color: $light-text;
        &:hover {
            background-color: $light-link-hover;
        }
    }
}

#team-page {
    .card {
        .team-member-title {
            font-size: 1.15rem;
        }
    }
}

footer {
    height: initial;

    #cc-license-logo img {
        height: 16px !important;
        margin-left: 3px;
        vertical-align: text-bottom;
    }

    #jhu-sheridan-logo {
        height: 124px;
    }
    #nhprc-logo {
        width: 100px;
    }
}

// !importants in order to override Bootstrap classes
.gallery-thumb {
    height: initial;
    max-height: 250px !important;
    max-width: 250px !important;
}

// Highlight footnotes in trascription/translation
a.footnote {
    background-color: #005442;
    color: white !important;
    padding: 2px 6px;
    border-radius: 4px;
    margin: 0 2px;
    text-decoration: underline;

    transition: all 250ms ease-out;

    &:hover {
        background-color: white;
        color: #005442 !important;
        outline: 1px solid #005442;
    }
}
