---
sitemap: false
---
@use "variables" as *;
@forward "bootstrap";
@forward "facets";
@forward "keywords";

/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans Light";
  font-style: bold;
  font-weight: 300;
  src: url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-300.eot" | absolute_url }}'); /* IE9 Compat Modes */
  src: local(""),
    url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-300.woff2" | absolute_url }}')
      format("woff2"),
    /* Super Modern Browsers */
      url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-300.woff" | absolute_url }}')
      format("woff");
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: 400;
  src: url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-regular.eot" | absolute_url }}');
  src: local(""),
    url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-regular.woff2" | absolute_url }}')
      format("woff2"),
    /* Super Modern Browsers */
      url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-regular.woff" | absolute_url }}')
      format("woff");
}

