---
layout: default
field: keywords
---
{%- comment -%}
Generate the list of nav links to all of our Keywords
{%- endcomment -%}
{%- capture navs -%}
  {% assign keywords = site[page.collection] %}
  {% assign currentPage = page.pid %}

  {% for page in keywords %}
    {%- capture pageName -%}{{ page.name | split: "." | first }}{%- endcapture -%}
    {%- assign activeClass = "list-group-item-dark" -%}
    {%- if pageName != currentPage-%}
      {%- assign activeClass = "" -%}
    {%- endif -%}

    {% comment %}
      Take the list of keywords, disable keyword links IF
        - No Description
        - No documents in the site
    {% endcomment %}

    {% assign isDisabled = true %}

    {% if page.Description != nil %}
      {% assign isDisabled = false %}
    {% endif %}

    {%- assign docs = page["Main Bias Set Records"] | split: "," -%}
    {%- for id in docs -%}
      {%- capture tmpPath -%}_keywords/{{ id }}.md{%- endcapture -%}
      {%- assign docInSite = site.documents | find: 'path', tmpPath -%}
      {%- if docInSite != nil -%}
        {%- assign isDisabled = false -%}
        {% break %}
      {%- endif -%}
    {%- endfor -%}

    {% unless isDisabled %}
      <li class="list-group-item {{ activeClass }} p-0">
        <a href="{{ page.url | relative_url }}">
          <div class="py-2 px-3">{{ page.Keyword }}</div>
        </a>
      </li>
    {% endunless %}
  {% endfor %}
{%- endcapture -%}

<div class="d-flex">
  <nav class="facet-sidebar col-12 col-lg-3 d-none d-lg-block">
    <ul class="list-group list-group-flush px-0 w-100">
      {{ navs }}
    </ul>
  </nav>

  <section class="col">
    {% if page.label %}
      <h2 class="d-none d-lg-block">{{ page.label }}</h2>
    {% else %}
      <h1>Keywords</h1>
    {% endif %}

    <nav id="side-nav-sm" class="d-block d-lg-none">
      <button
          class="navbar-toggler d-flex w-100"
          data-toggle="collapse"
          data-target="#side-nav-sm-collapse"
          aria-controls="side-nav-sm-collapse"
          aria-expanded="false"
          aria-label="toggle keywords list"
      >
        <span class="navbar-toggler-icon">&#9776;</span>
        <h2>{{ page.label }}</h2>
      </button>
      <div id="side-nav-sm-collapse" class="collapse navbar-collapse border-left border-right">
        <ul class="list-group list-group-flush px-4 py-2">
          {{ navs }}
        </ul>
      </div>
    </nav>

    {% if page["Author(s)"] %}
    <div class="mt-4">
      <span>Author(s): </span> {{ page["Author(s)"] }}
    </div>
    {% endif %}
    {% if page["Editor(s)"] %}
    <div class="mb-4">
      <span>Editor(s): </span> {{ page["Editor(s)"] }}
    </div>
    {% endif %}

    {% assign excerpt = site.documents | where: 'collection', page.collection | where_exp: 'doc', "doc.path contains '/excerpts/'" | where: 'basename', page.pid | first %}
    {% if excerpt %}
    <div>
      {% capture excerpt_file %}excerpts/{{ page.pid }}.md{% endcapture %}
      {% capture data %}{% include_relative {{ excerpt_file }} %}{% endcapture %}
      {{ data | markdownify }}
    </div>
    <hr />
    {% else %}
      {% if page.Description %}
        {{ page.Description | markdownify }}
      {% endif %}
      {% if page.References %}
        <h3>References</h3>
        {{ page.References | markdownify }}
      {% endif %}
    {% endif %}

    {% if page.Keyword %}
      {% include gallery.html
          collection='keywords'
          field='keywords'
          value=page.Keyword
          num_column=3
          separator=','
          display_fields="lhc_source,lhc_doc_origin,lhc_filing_date"
      %}
    {% endif %}
  </section>
</div>
<style>
  ul {
      list-style: none;
      max-width: 100%;
  }
  #references + ul {
    list-style: initial;
  }
  #side-nav-sm button {
    align-items: center;
  }
  #side-nav-sm-collapse {
    max-height: 50vh;
    overflow-y: auto;
  }
</style>
