---
layout: default
---

<h1>{{ page.title }}</h1>

{%- if content -%}
<section>
    <div class="row">
        {{content}}
    </div>
</section>
{%- endif -%}

<section id="people-of-keywords">
    <div class="list-group-flush">
        {% for person in site["people"] %}
            <a href="{{ person.url }}" class="list-group-item">
                <h3>{{ person.full_name }}</h3>
                <p>{{ person.biographical_notes }}</p>
            </a>
        {% endfor %}
    </div>
</section>

<script type="module">
    import * as Motion from "{{ '/assets/js/motion.12.9.7.min.js' | absolute_url }}";

    const selectors = [
        '#people-of-keywords',
        '.list-group-item'
    ].join(' ');

    // Initial page load
    Motion.animate(selectors, { opacity: 0 }, { duration: 0 })
        .then(() => {
            Motion.animate(
                selectors,
                { opacity: 1 },
                { delay: Motion.stagger(0.05) }
            )
        });

    Motion.hover(selectors, (elem) => {
        Motion.animate(elem, { scale: 1.05 }, { duration: 0.2 });
        return () => {
            Motion.animate(elem, { scale: 1 }, { duration: 0.1 });
        };
    });
</script>
