---
layout: person_template
meta:
    - label: 'Age'
      value: page.age
    - label: 'Mentioned in'
      value: page.document_id
      type: internal_link
      collection: keywords
      property: 'pid'
    - label: 'Status'
      value: page.status
    - label: 'Racial Description'
      value: page.racial_description
    - label: 'Ethnic Description'
      value: page.ethnic_description
    - label: Nation
      value: page.nation
    - label: 'Also mentioned in'
      value: page.other_documents_present
      type: internal_link
      collection: keywords
      property: 'pid'
    - label: 'Related to'
      value: page.related_people_ids
      type: internal_link
      collection: people-separate-rows
      property: 'person_id'
      delimiter: ;
    - label: 'Appears in stories'
      value: page.stories
---
